<div *ngIf="BoU" class="messageBot">
    <div class="image">
        <img src="/assets/images/icons/manager.png" alt="Das Logo konnte nicht geladen werden!">
    </div>
    <div class="messagearea">
        <div class="message">
            <p>{{ message }}</p>
        </div>
    </div>
</div>
<div *ngIf="!BoU" class="messageUser">
    <div class="messagearea">
        <div class="message">
            <p>{{ message }}</p>
        </div>
    </div>
    <div class="image">
        <img src="/assets/images/icons/man.png" alt="Das Logo konnte nicht geladen werden!">
    </div>
</div>