.messageBot {
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 6vh;
    width: 60vw;
    margin-bottom: 1.5em;
    overflow: hidden;

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 6vh;

        img {
            width: 50px;
            height: auto;
            background-color: #f8f9fa;
            border-radius: 9999em;
        }
    }

    .messagearea {
        width: 30vw;
        min-height: 6vh;
        display: flex;
        align-items: center;
        justify-content: left;
        text-wrap: pretty;

        .message {
            display: flex;
            align-items: center;
            min-height: 5vh;
            max-width: 30vw;
            // padding: 11px 1em 0 1em;
            padding: 1.6vh 1em 0.5vh 1em;
            background-color: #f8f9fa;
            border-radius: 10px;
            font-size: 1.2em;
        }
    }
}

.messageUser {
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 6vh;
    width: 60vw;
    margin-bottom: 1.5em;

    .messagearea {
        width: 30vw;
        min-height: 6vh;
        display: flex;
        align-items: center;
        justify-content: right;
        text-wrap: pretty;

        .message {
            display: flex;
            align-items: center;
            min-height: 5vh;
            max-width: 30vw;
            padding: 1.6vh 1em 0.5vh 1em;
            background-color: #007bff;
            color: white;
            border-radius: 10px;
            font-size: 1.2em;
        }
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 6vh;

        img {
            width: 50px;
            height: auto;
            background-color: #f8f9fa;
            border-radius: 9999em;
        }
    }
}
